*{
    margin: 0;
    padding: 0;
}
/*Хедер*/
body{
    font-family: 'Open Sans';
}

.container{
    width: 1170px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.head_tittle{
    display: flex;
    justify-content: start;
    font-family: 'Open Sans';
    font-size: 21px;
}

nav{
    font-family: 'Open Sans';
    font-size: 20px;
    
}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 700px;
}

nav ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav a{
text-decoration: none;
color: black;
}

.search img{
    width: 20px;
    height: 20px;
}
/*Хедер конец*/

/*Мейн*/
.main{
    height: 640px;
    background: url(img/backgrounds/main_bg.png) center center / cover no-repeat;
}

.main_inner{
    display: flex;
    flex-direction: column;
    color: #FFF;
    align-items: center;
    justify-content: center;
}

.main_tittle{
    display: flex;
    justify-content: center;
    margin: 170px 0 30px;
    font-size: 60px;
    font-weight: 600;
}

.main_inner p {
    font-size: 22px;
}

.main_button{
    margin: 110px 0 100px;
    display: flex;
}

.main_button a{
    color: #FFF;
    padding-top:20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #FFF;
    width: 220px;
    text-transform: uppercase;
    margin-right: 25px;
}

.main_inner img{
    display: flex;
}

button{
    width: 220px;
    height: 65px;
    text-transform: uppercase;
    margin-right: 25px;
    background: #00897B;
    border: none;
    color: #FFF;
}

/*Мейн конец*/

/*About_us начало*/

.abo_us{
    max-height: 670px;
}

.abo_tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:115px;
}

.abo_tittle h2{
    font-size: 30px;
}

.abo_tittle p{
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
}

.abo_img{
    display: flex;
    justify-content: center;
}

.abo_img img{
    width: 70px;
    height: 70px;
}

.elements{
    display: flex;
    justify-content: space-around;
    margin: 60px 0 110px;
}

.element{
    max-width: 260px;
}

.element p{
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
}

.element div p{
    font-size: 20px;
}